.board {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-bottom: 50px;
  width: 100%;
  background-image: url("/images/29081559_abstract_banner_with_halftone_dots_design_0204.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .board {
    padding-bottom: 30px;
  }
}
.main-sequence {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-sequence .notes {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 280px;
}
.main-sequence .notes::before {
  content: "";
  display: none;
  background-color: #a3e6fad0;
  position: absolute;
  inset: 0;
}

.main-sequence .note {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: #f5f4f4;
  box-shadow: 0px 0px 0px 1px #ccc;
  border-bottom: none;
  border-radius: 1px;
}

.main-sequence .note:hover .text {
  display: block;
}

.main-sequence .note .text {
  display: none;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.main-sequence .notes.highlighted::before {
  display: block;
}

.main-sequence .note.active {
  background-color: #5e17eb;
  color: white;
}

.main-sequence .compass {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.back-sequence {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.back-sequence .back-compass {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.back-sequence .note {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 155px;
  height: 30px;
  background-color: #cccc;
  border-radius: 3px;
}

.back-sequence .note .text {
  display: none;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #5e17eb;
}

.back-sequence .note:hover .text {
  display: block;
}

.back-sequence .note.active {
  display: flex;
  justify-content: center;
  width: 155px;
  height: 30px;
  background-color: #a3e6fa;
}

.synth-options {
  display: flex;
  flex-direction: column;
}
/* 
.logo-image {
  margin-top: 10px;
  max-width: 250px;
  max-height: 140px;
  display: flex;
  justify-content: center;
} */

.root {
  width: 100%;
  height: 100%;
}

.toggle-buttons {
  display: block;
}

.play-stop-icon {
  transform: scale(2);
  align-items: center;
}

.play-stop-container {
  margin-top: 10px;
}

.main-sequence-container {
  display: flex;
  gap: 35px;
}

.back-sequence-container {
  display: flex;
  gap: 35px;
}

.back-notes-display {
  width: 50px;
  height: 31px;
  background-color: #f5f4f4;
  display: block;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  color: #22c2f1;
}

.back-notes-display-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-notes-display-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.buttons-container {
  margin-top: 10px;
  display: flex;
  gap: 42px;
}

.reset-icon {
  transform: scale(1.8);
  align-items: center;
  color: #5e17eb;
}

.reset-container {
  margin-top: 10px;
}

.sliders-container {
  margin-top: 10px;
}

.select-established-sequence {
  width: 100%;
  margin-bottom: 8px;
  max-height: 30px;
  display: flex;
  justify-content: center;
}

.checked {
  color: #5e17eb;
}
